<!-- Projeto Portfolio -->

<main class="container my-5 d-flex flex-column gap-3">
  <h2
    class="p-3 text-center border border-3 border-info-subtle rounded text-bg-info fw-semibold"
  >
    Biografia
  </h2>
  <div
    class="p-5 container container-lg bg-body-secondary border border-2 border-info-subtle rounded"
  >
    <p class="fs-5">
      &nbsp;&nbsp; Olá, eu sou um desenvolvedor web front-end com experiência em
      e-commerce e logística. Tenho 34 anos e uma trajetória profissional
      diversificada e desafiadora.
    </p>
    <p class="fs-5">
      &nbsp;&nbsp; A minha carreira começou aos 18 anos, quando entrei em uma
      grande empresa de varejo e atacado, onde adquiri inúmeras experiências e
      crescimento ao longo de 12 anos de muito trabalho. Lá, eu aprendi muito
      sobre os processos sistêmicos e o uso do computador, o que me fez
      despertar o meu interesse pela informática. Durante os 12 anos que
      trabalhei nessa empresa, eu ocupei diversos cargos, desde operador de
      computador até supervisor de e-commerce e C.P.D. . Nesse último cargo,
      liderei equipes de 120 funcionários em 22 filiais, onde viajei por várias
      cidades de Minas Gerais, e adquiri habilidades em gestão de pessoas e
      processos, planejamento estratégico, análise de dados, projetos,
      auditorias, inventários e e-commerce.
    </p>
    <p class="fs-5">
      &nbsp;&nbsp; Aos 29 anos, decidi empreender e abri a minha própria
      empresa, uma financeira prestadora de serviços bancários. Nesse negócio,
      atuei como gerente administrativo e comercial por 3 anos, até que decidi
      ampliar os meus horizontes e me dedicar à área tecnológica.
    </p>
    <p class="fs-5">
      &nbsp;&nbsp; No último ano estudei intensamente essa área na Alura,
      aprofundando os meus conhecimentos em HTML, CSS, JavaScript, TypeScript,
      Angular e Bootstrap. Hoje, muito preparado para os desafios do mercado de
      trabalho, quero potencializar todas as habilidades que construí ao longo
      da minha longa jornada.
    </p>
  </div>
</main>
