<section class="container d-flex flex-column gap-3">
  <h2
    class="p-3 text-center border border-2 border-info-subtle rounded text-bg-info fw-semibold"
    id="biografia"
  >
    Biografia
  </h2>
  <div
    class="container container-lg rounded border border-info-subtle border-1 p-5 bg-light"
  >
    <p class="fs-5">
      Olá, eu sou um desenvolvedor web front-end apaixonado por tecnologia e
      inovação. Tenho 34 anos e uma trajetória profissional diversificada e
      desafiadora.
    </p>
    <p class="fs-5">
      Comecei a trabalhar aos 18 anos em uma empresa de varejo e atacado, onde
      adquiri inúmeras experiências ao longo de 12 anos. Lá, tive o meu primeiro
      contato profissional com o computador e os processos sistêmicos, que
      despertaram o meu interesse pela informática. Fui crescendo na empresa e
      passei por diferentes cargos, como operador de computador, auxiliar de
      escritório e supervisor administrativo. Nesse último cargo, liderei
      equipes de até 120 funcionários, viajando pelas diversas cidades de Minas
      Gerais, adquirindo experiências com gestão de pessoas e processos,
      planejamento estratégico, análise de dados, projetos, auditorias, inventários
      e e-commerce.
    </p>
    <p class="fs-5">
      Aos 29 anos, decidi empreender e abri a minha própria empresa, uma
      financeira que realizava processos bancários. Atuei como gerente
      administrativo e comercial por 3 anos, até que resolvi mudar de rumo e me
      dedicar a área tecnológica.
    </p>
    <p class="fs-5">
      Há 10 meses, estou estudando intensamente essa área na Alura, aprofundando
      os meus conhecimentos em HTML, CSS, JavaScript, TypeScript, Angular e
      Bootstrap. Finalmente me sinto preparado para iniciar no mercado de
      trabalho, estou em busca do meu primeiro emprego como desenvolvedor web
      front-end e quero fazer parte de uma empresa de tecnologia que valorize o
      meu potencial e me ofereça oportunidades de aprendizado.
    </p>
  </div>
</section>

