<!-- Projeto Portfolio -->

<main class="container my-5 d-flex flex-column gap-3">
  <h2
    class="p-3 text-center border border-3 border-info-subtle rounded text-bg-info fw-semibold"
  >
    Certificados
  </h2>
  <div class="container container-lg">
    <h4 class="px-5 py-2 border border-1 border-info-subtle rounded text-bg-info">
      HTML & CSS
    </h4>
    <div class="d-flex flex-column gap-2 px-5 py-4 bg-body-secondary rounded">
      <a
        href="https://cursos.alura.com.br/certificate/5062feff-9c97-4375-bf24-0aadb68a3970"
        >HTML5 e CSS3 parte 1: crie uma página da Web</a
      >
      <a
        href="https://cursos.alura.com.br/certificate/56e9f7fc-72aa-41e0-bf30-61ac34ead830"
        >HTML5 e CSS3 parte 2: posicionamento, listas e navegação</a
      >
      <a
        href="https://cursos.alura.com.br/certificate/94a0e00e-d7e9-486c-b03f-4d456c5b6e30"
        >HTML5 e CSS3 parte 3: trabalhando com formulários e tabelas</a
      >
      <a
        href="https://cursos.alura.com.br/certificate/517e74ff-5386-43d8-b82a-9cb83e7e684d"
        >HTML5 e CSS3 parte 4: avançando no CSS</a
      >
      <a
        href="https://cursos.alura.com.br/certificate/0a58aa15-e1bc-4707-9e57-df352e2a4449"
        >HTML e CSS: ambientes de desenvolvimento, estrutura de arquivos e
        tags</a
      >
      <a
        href="https://cursos.alura.com.br/certificate/50ff38f8-f3b8-4658-bf70-c6fd71b197e4"
        >HTML e CSS: classes, posicionamento e Flexbox</a
      >
      <a
        href="https://cursos.alura.com.br/certificate/9c31cea5-9d92-4414-bb5a-b79d9bde2fc9"
        >HTML e CSS: cabeçalho, footer e variáveis CSS</a
      >
      <a
        href="https://cursos.alura.com.br/certificate/cf45591e-2fa1-4a6d-9288-2775d2d4d03a"
        >HTML e CSS: trabalhando com responsividade e publicação de projetos</a
      >
      <a
        href="https://cursos.alura.com.br/certificate/5b10163d-8774-469f-bd86-e5e27e35d271"
        >Praticando CSS: Grid e Flexbox</a
      >
      <a
        href="https://cursos.alura.com.br/certificate/4ebe17cd-4b57-426e-999b-c4d5ca331811"
        >HTML e CSS: praticando HTML/CSS</a
      >
      <a
        href="https://cursos.alura.com.br/certificate/d25c3040-4c5d-4a4d-b1bb-a4f6002df25e"
        >HTML e CSS: responsividade com mobile-first</a
      >
      <a
        href="https://cursos.alura.com.br/certificate/0bc5032b-547b-4968-a711-c80a1dc06482"
        >Bootstrap5: crie uma loja virtual</a
      >
    </div>
  </div>
  <div class="container container-lg">
    <h4 class="px-5 py-2 border border-1 border-info-subtle rounded text-bg-info">
      JavaScript
    </h4>
    <div class="d-flex flex-column gap-2 px-5 py-4 bg-body-secondary rounded">
      <a
        href="https://cursos.alura.com.br/certificate/7553bcec-4e7d-4a05-8cb4-01b8b5fe2940"
        >Lógica de programação: comece em lógica com o jogo Pong e JavaScript</a
      >
      <a
        href="https://cursos.alura.com.br/certificate/79801110-5428-4c7a-8f91-9ff10e147cbf"
        >Lógica de programação: laços e listas com JavaScript</a
      >
      <a
        href="https://cursos.alura.com.br/certificate/3630e0aa-2209-433c-a242-a8d226df7029"
        >JavaScript e HTML: desenvolva um jogo e pratique lógica de
        programação</a
      >
      <a
        href="https://cursos.alura.com.br/certificate/5c067ca4-f0dd-4eb3-9001-c150eff0a5f1"
        >JavaScript e HTML: pratique lógica com desenhos, animações e um jogo</a
      >
      <a
        href="https://cursos.alura.com.br/certificate/ac1b2d8b-47f9-4d55-bc99-217b7991fe6b"
        >JavaScript para Web: crie páginas dinâmicas</a
      >
      <a
        href="https://cursos.alura.com.br/certificate/b4033be0-ffdc-4455-80a9-5e6d45d02a33"
        >JavaScript: manipulando o DOM</a
      >
      <a
        href="https://cursos.alura.com.br/certificate/456d2906-240f-4426-ae45-88f784b3d7b4"
        >JavaScript na Web: armazenando dados no navegador</a
      >
      <a
        href="https://cursos.alura.com.br/certificate/a8fea1a8-0fad-4957-8719-62c30685357b"
        >JavaScript: criando requisições</a
      >
      <a
        href="https://cursos.alura.com.br/certificate/8b5eb36c-ec5b-4f40-8fb5-fcb1403d2fd9"
        >JavaScript: validando formulários</a
      >
      <a
        href="https://cursos.alura.com.br/certificate/19008398-8586-40b1-b390-05cb4ceb6e08"
        >JavaScript: validações e reconhecimento de voz</a
      >
      <a
        href="https://cursos.alura.com.br/certificate/700d9f13-117b-47e2-9de2-dd9aa41e0f92"
        >JavaScript: consumindo e tratando dados de uma API</a
      >
      <a
        href="https://cursos.alura.com.br/certificate/ce60b047-b9c4-44fe-b911-691d6efae3ad"
        >JavaScript: métodos de array</a
      >
      <a
        href="https://cursos.alura.com.br/certificate/36571f6a-ef23-487b-aee2-e77296628694"
        >JavaScript: manipulando objetos</a
      >
      <a
        href="https://cursos.alura.com.br/certificate/9603ec6c-9ae3-4bd2-a0c0-1236a69b5ed4"
        >JavaScript: classes e heranças no desenvolvimento de aplicações com
        orientação a objetos</a
      >
      <a
        href="https://cursos.alura.com.br/certificate/17aaf71d-c346-4800-bbd8-ef916274b7c5"
        >JavaScript: trabalhando com threads para requisições simultâneas</a
      >
    </div>
  </div>
  <div class="container container-lg">
    <h4 class="px-5 py-2 border border-1 border-info-subtle rounded text-bg-info">
      TypeScript
    </h4>
    <div class="d-flex flex-column gap-2 px-5 py-4 bg-body-secondary rounded">
      <a
        href="https://cursos.alura.com.br/certificate/94398b46-f035-41df-9b9a-ed1a01980df4"
        >TypeScript parte 1: evoluindo seu JavaScript</a
      >
      <a
        href="https://cursos.alura.com.br/certificate/b26d27f6-27ca-4421-9c19-8ac3a4617c2d"
        >TypeScript parte 2: avançando na linguagem</a
      >
      <a
        href="https://cursos.alura.com.br/certificate/e01514c1-f7a2-4082-ad5e-d8c0c11351f7"
        >Typescript parte 3: mais técnicas e boas práticas</a
      >
    </div>
  </div>
  <div class="container container-lg">
    <h4 class="px-5 py-2 border border-1 border-info-subtle rounded text-bg-info">
      Angular
    </h4>
    <div class="d-flex flex-column gap-2 px-5 py-4 bg-body-secondary rounded">
      <a
        href="https://cursos.alura.com.br/certificate/cfa06c21-081d-4f31-aa36-9fd63b4513b7"
        >Angular 14: aplique os conceitos e desenvolva seu primeiro CRUD</a
      >
      <a
        href="https://cursos.alura.com.br/certificate/8474b8af-a5b0-4538-9798-6f8ebc50062d"
        >Angular 14: evoluindo a aplicação</a
      >
      <a
        href="https://cursos.alura.com.br/certificate/d61e019a-c9c9-4f59-bcd0-876393c4d346"
        >Angular: ciclo de vida</a
      >
      <a
        href="https://cursos.alura.com.br/certificate/0014e521-b57c-40fe-82e6-2f6a9deec89b"
        >Angular: formulários orientados a templates</a
      >
      <a
        href="https://cursos.alura.com.br/certificate/fcf0fe4b-6250-49c1-8e64-b265d1305342"
        >RxJS e Angular: programando de forma reativa</a
      >
    </div>
  </div>
  <div class="container container-lg">
    <h4 class="px-5 py-2 border border-1 border-info-subtle rounded text-bg-info">
      Programação Básica
    </h4>
    <div class="d-flex flex-column gap-2 px-5 py-4 bg-body-secondary rounded">
      <a
        href="https://cursos.alura.com.br/certificate/ffec7884-8dbb-462f-af95-5d4e15c1d185"
        >VSCode: aprendendo dicas e truques</a
      >
      <a
        href="https://cursos.alura.com.br/certificate/3288123b-6dec-427f-81f9-5ff3595e4f3b"
        >Git e GitHub: repositório, commit e versões</a
      >
      <a
        href="https://cursos.alura.com.br/certificate/d075ddb5-6c87-427e-9b30-5d80a5bcea00"
        >Git e Github: controle e compartilhe seu código</a
      >
      <a
        href="https://cursos.alura.com.br/certificate/54c40840-f3e6-457b-a515-c0d29061b85c"
        >Linux I: conhecendo e utilizando o terminal</a
      >
      <a
        href="https://cursos.alura.com.br/certificate/d340a040-1fb9-43e2-8363-629b64b9792d"
        >Arquitetura de computadores: por trás de como seu programa funciona</a
      >
    </div>
  </div>
  <div class="container container-lg">
    <h4 class="px-5 py-2 border border-1 border-info-subtle rounded text-bg-info">
      Certificado Completo
    </h4>
    <div class="d-flex flex-column gap-2 px-5 py-4 bg-body-secondary rounded">
      <a
        href="https://cursos.alura.com.br/user/bernardofb88/fullCertificate/9e169bca76dfb400f43eabe39a94fca9"
        >Todas as Formações e Cursos concluídos na Alura</a
      >
    </div>
  </div>
</main>
