<footer
  class="text-bg-info p-3 d-flex justify-content-evenly border border-info-subtle border-2 fw-semibold"
>
  <div class="d-flex flex-column gap-2">
    <h4 class="fw-bold">Contatos</h4>
    <a class="text-bg-info" href="tel:+5532998440871">32 99844-0871</a>
    <a class="text-bg-info" href="tel:+5532998440871">
      <img src="../../assets/telefone.svg" alt="Icone Telefone" />
      Telefone
    </a>
    <a class="text-bg-info" href="https://t.me/+5532998440871">
      <img src="../../assets/telegram.svg" alt="Icone Telegram" />
      Telegram
    </a>
    <a class="text-bg-info" href="https://wa.me/5532998440871">
      <img src="../../assets/whatsapp.svg" alt="Icone Whatsapp" />
      Whatsapp
    </a>
    <a class="text-bg-info" href="mailto:xbernardofb@outlook.com">
      <img src="../../assets/email.svg" alt="Icone E-mail" />
      xbernardofb@outlook.com
    </a>
  </div>

  <div class="d-flex flex-column justify-content-center gap-2">
    <h4 class="fw-bold">Redes Sociais</h4>
    <a class="text-bg-info" href="https://github.com/Bernardo-Bonifacio"
      ><img src="../../assets/github.svg" alt="Icone GitHub" /> GitHub</a
    >
    <a
      class="text-bg-info"
      href="https://www.linkedin.com/in/bernardo-bonifacio"
      ><img src="../../assets/linkedin.svg" alt="Icone Linkedin" /> Linkedin</a
    >
    <a class="text-bg-info" href="https://www.instagram.com/bernardofbonifacio"
      ><img src="../../assets/instagram.svg" alt="Icone Instagram" />
      Instagram</a
    >
    <a class="text-bg-info" href="https://www.facebook.com/bernardofb"
      ><img src="../../assets/facebook.svg" alt="Icone Facebook" /> Facebook</a
    >
    <a class="text-bg-info" href="https://twitter.com/Bernardo__fb"
      ><img src="../../assets/twitter.svg" alt="Icone Twitter" /> Twitter</a
    >
  </div>
</footer>

