<!-- Projeto Portfolio -->

<footer>
  <section
    class="text-bg-info p-3 d-flex justify-content-evenly border border-info-subtle border-2 fw-semibold"
  >
    <div>
      <h4 class="fw-bold">Contatos</h4>
      <div class="d-flex flex-column gap-2">
        <a class="text-bg-info" href="tel:+5532998440871">32 99844-0871</a>
        <a class="text-bg-info" href="tel:+5532998440871">
          <img src="../../assets/telefone.svg" alt="Ícone Telefone" />
          Telefone
        </a>
        <a class="text-bg-info" href="https://t.me/+5532998440871">
          <img src="../../assets/telegram.svg" alt="Ícone Telegram" />
          Telegram
        </a>
        <a class="text-bg-info" href="https://wa.me/5532998440871">
          <img src="../../assets/whatsapp.svg" alt="Ícone Whatsapp" />
          Whatsapp
        </a>
        <a class="text-bg-info" href="mailto:xbernardofb@outlook.com">
          <img src="../../assets/email.svg" alt="Ícone E-mail" />
          xbernardofb@outlook.com
        </a>
        <a class="text-bg-info" href="">
          <img src="../../assets/link.svg" alt="Ícone Link" />
          www.bernardobonifacio.com
        </a>
      </div>
    </div>

    <div>
      <h4 class="fw-bold">Redes Sociais</h4>
      <div class="d-flex flex-column gap-2">
        <a class="text-bg-info" href="https://github.com/Bernardo-Bonifacio"
          ><img src="../../assets/github.svg" alt="Ícone GitHub" /> GitHub</a
        >
        <a class="text-bg-info" href="https://vercel.com/bernardo-bonifacio"
          ><img src="../../assets/vercel.svg" alt="Ícone Vercel" /> Vercel</a
        >
        <a
          class="text-bg-info"
          href="https://www.linkedin.com/in/bernardo-bonifacio"
          ><img src="../../assets/linkedin.svg" alt="Ícone Linkedin" />
          Linkedin</a
        >
        <a
          class="text-bg-info"
          href="https://www.instagram.com/bernardofbonifacio"
          ><img src="../../assets/instagram.svg" alt="Ícone Instagram" />
          Instagram</a
        >
        <a class="text-bg-info" href="https://www.facebook.com/bernardofb"
          ><img src="../../assets/facebook.svg" alt="Ícone Facebook" />
          Facebook</a
        >
        <a class="text-bg-info" href="https://twitter.com/Bernardo__fb"
          ><img src="../../assets/twitter.svg" alt="Ícone Twitter" /> Twitter</a
        >
      </div>
    </div>
  </section>
  <section
    class="d-flex justify-content-around align-items-center text-bg-secondary py-3 m-0 projeto-pessoal"
  >
    <span>
      Portfolio Bernardo Bonifácio
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-c-circle"
        viewBox="0 0 16 16"
      >
        <path
          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM8.146 4.992c-1.212 0-1.927.92-1.927 2.502v1.06c0 1.571.703 2.462 1.927 2.462.979 0 1.641-.586 1.729-1.418h1.295v.093c-.1 1.448-1.354 2.467-3.03 2.467-2.091 0-3.269-1.336-3.269-3.603V7.482c0-2.261 1.201-3.638 3.27-3.638 1.681 0 2.935 1.054 3.029 2.572v.088H9.875c-.088-.879-.768-1.512-1.729-1.512Z"
        />
      </svg>
      Todos os direitos reservados.
    </span>
    <div class="d-flex align-items-center gap-4">
      <a href="https://www.bernardobonifacio.com">
        <img src="../../../assets/logo-portfolio.jpg" alt="Logo Bernardo Bonifácio" />
      </a>
      <div class="d-flex flex-column">
        <span>Desenvolvimento</span>
        <span>Bernardo Bonifácio</span>
      </div>
    </div>
  </section>
</footer>
