<p>skills works!</p><section class="container d-flex flex-column gap-3" id="skills">
  <h2
    class="p-3 text-center border border-2 border-info-subtle rounded text-bg-info fw-semibold"
  >
    Skills
  </h2>
  <div
    class="accordion container container-lg"
    id="accordionPanelsStayOpenExample"
  >
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button px-5 py-2 border border-1 border-info-subtle text-bg-info fs-5"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseOneS"
          aria-expanded="true"
          aria-controls="panelsStayOpen-collapseOneS"
        >
          Hard Skills - Habilidades adquiridas em de estudos e praticadas
          em projetos pessoais:
        </button>
      </h2>

      <div
        id="panelsStayOpen-collapseOneS"
        class="accordion-collapse collapse show"
      >
        <div class="accordion-body d-flex flex-column gap-2 p-5">
          <ul class="fs-5">
            <li>Lógica de Programação</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>Responsividade</li>
            <li>Bootstrap</li>
            <li>Javascript</li>
            <li>Typescript</li>
            <li>Angular</li>
            <li>Angular CLI</li>
            <li>Git</li>
            <li>GitHub</li>
            <Li>Visual Studio Code</Li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div
    class="accordion container container-lg"
    id="accordionPanelsStayOpenExample"
  >
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button px-5 py-2 border border-1 border-info-subtle text-bg-info fs-5"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseTwoS"
          aria-expanded="true"
          aria-controls="panelsStayOpen-collapseTwoS"
        >
          Soft Skills - Habilidades desenvolvidas ao longo de 15 anos
          profissionais:
        </button>
      </h2>

      <div
        id="panelsStayOpen-collapseTwoS"
        class="accordion-collapse collapse show"
      >
        <div class="accordion-body d-flex flex-column gap-2 p-5">
          <ul class="fs-5">
            <li>Adaptabilidade</li>
            <li>Apredizagem Ativa</li>
            <li>Comunicação</li>
            <li>Colaboração</li>
            <li>Criatividade</li>
            <li>Liderança</li>
            <li>Inteligência Emocional</li>
            <li>Multitasking</li>
            <li>Pensamento Crítico</li>
            <li>Resiliência</li>
            <li>Resolução de Problemas</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
