<!-- Projeto Portfolio -->

<main class="container my-5 d-flex flex-column gap-3">
  <h2
    class="p-3 text-center border border-3 border-info-subtle rounded text-bg-info fw-semibold"
  >
    Skills
  </h2>
  <div class="container container-lg">
    <h4 class="px-5 py-2 border border-1 border-info-subtle rounded text-bg-info">
      Hard Skills adquiridas em estudos e projetos pessoais
    </h4>
    <div class="d-flex flex-column gap-2 px-5 py-4 bg-body-secondary rounded">
      <ul class="fs-5">
        <li>Lógica de Programação</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>Responsividade</li>
        <li>Bootstrap</li>
        <li>Javascript</li>
        <li>Typescript</li>
        <li>Angular</li>
        <li>Angular CLI</li>
        <li>Git</li>
        <li>GitHub</li>
        <Li>Visual Studio Code</Li>
      </ul>
    </div>
  </div>
  <div class="container container-lg">
    <h4 class="px-5 py-2 border border-1 border-info-subtle rounded text-bg-info">
      Soft Skills desenvolvidas ao longo de 15 anos profissionais:
    </h4>
    <div class="d-flex flex-column gap-2 px-5 py-4 bg-body-secondary rounded">
      <ul class="fs-5">
        <li>Adaptabilidade</li>
        <li>Aprendizagem Ativa</li>
        <li>Comunicação</li>
        <li>Colaboração</li>
        <li>Criatividade</li>
        <li>Liderança</li>
        <li>Inteligência Emocional</li>
        <li>Multitasking</li>
        <li>Pensamento Crítico</li>
        <li>Resiliência</li>
        <li>Resolução de Problemas</li>
      </ul>
    </div>
  </div>
</main>
