<!-- Projeto Portfolio -->

<main class="container my-5 d-flex flex-column gap-3">
  <h2
    class="p-3 text-center border border-3 border-info-subtle rounded text-bg-info fw-semibold"
  >
    Experiências
  </h2>
  <div class="container container-lg">
    <h4
      class="px-5 py-2 border border-1 border-info-subtle rounded text-bg-info"
    >
      Grupo Bahamas S/A
    </h4>
    <div
      class="d-flex flex-column px-5 py-4 bg-body-secondary border border-2 border-info-subtle rounded"
    >
      <h6>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-person-vcard"
          viewBox="0 0 16 16"
        >
          <path
            d="M5 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm4-2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5ZM9 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 9 8Zm1 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5Z"
          />
          <path
            d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2ZM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H8.96c.026-.163.04-.33.04-.5C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1.006 1.006 0 0 1 1 12V4Z"
          />
        </svg>
        Cargo: Supervisor de E-commerce
      </h6>
      <p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-clock"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"
          />
          <path
            d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"
          />
        </svg>
        Experiência: 2 anos e 3 meses (2020 a 2022).
      </p>
      <p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-tag"
          viewBox="0 0 16 16"
        >
          <path
            d="M6 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-1 0a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0z"
          />
          <path
            d="M2 1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2a1 1 0 0 1 1-1zm0 5.586 7 7L13.586 9l-7-7H2v4.586z"
          />
        </svg>
        Gestão das operações logísticas:
        <br />
        &nbsp;&nbsp; Preparação, separação, conferência, embalagem, armazenagem,
        expedição, frotas, logística reversa e controle de suprimentos.
        <br />
        &nbsp;&nbsp; Garantir a qualidade e melhoria contínua dos processos,
        produtividade e fluxos com foco na entrega de serviços de alto nível.
      </p>
      <p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-tag"
          viewBox="0 0 16 16"
        >
          <path
            d="M6 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-1 0a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0z"
          />
          <path
            d="M2 1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2a1 1 0 0 1 1-1zm0 5.586 7 7L13.586 9l-7-7H2v4.586z"
          />
        </svg>
        Gestão administrativa:
        <br />
        &nbsp;&nbsp; Análise, elaboração e apresentação de relatórios,
        fluxogramas, indicadores e projeções de vendas, ticket médio, lucros,
        investimentos, despesas, custos, pedidos, entregas, suprimentos,
        produtividade, rupturas, faltas, perdas, cancelamentos e reclamações.
        <br />
        &nbsp;&nbsp; Atuar para melhoria dos indicadores realizando adequações
        nas operações.
      </p>
      <p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-tag"
          viewBox="0 0 16 16"
        >
          <path
            d="M6 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-1 0a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0z"
          />
          <path
            d="M2 1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2a1 1 0 0 1 1-1zm0 5.586 7 7L13.586 9l-7-7H2v4.586z"
          />
        </svg>
        Gestão de SAC:
        <br />
        &nbsp;&nbsp; Atendimento ao cliente, vendas, devoluções, cancelamentos e
        pós-venda.
        <br />
        &nbsp;&nbsp; Manter a qualidade de atendimento e total satisfação dos
        clientes.
      </p>
      <p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-tag"
          viewBox="0 0 16 16"
        >
          <path
            d="M6 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-1 0a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0z"
          />
          <path
            d="M2 1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2a1 1 0 0 1 1-1zm0 5.586 7 7L13.586 9l-7-7H2v4.586z"
          />
        </svg>
        Gestão de pessoas:
        <br />
        &nbsp;&nbsp; Liderança de times e líderes, formação de novas equipes,
        desenvolvimento, treinamentos, contratações, férias, transferências e
        desligamentos.
        <br />
        &nbsp;&nbsp; Promover ambiente de trabalho adequado para atingir melhores
        resultados e empenho de todas as equipes.
      </p>
      <p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-tag"
          viewBox="0 0 16 16"
        >
          <path
            d="M6 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-1 0a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0z"
          />
          <path
            d="M2 1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2a1 1 0 0 1 1-1zm0 5.586 7 7L13.586 9l-7-7H2v4.586z"
          />
        </svg>
        Desenvolvimento de projetos:
        <br />
        &nbsp;&nbsp; Implantação de novos sistemas, inovação de processos,
        adequações de recursos e inaugurações de novas lojas.
        <br />
        &nbsp;&nbsp; Ampliar o alcance dos serviços, aumento de vendas e
        lucros visando o crescimento da empresa.
        <br />
      </p>
      <p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-tag"
          viewBox="0 0 16 16"
        >
          <path
            d="M6 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-1 0a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0z"
          />
          <path
            d="M2 1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2a1 1 0 0 1 1-1zm0 5.586 7 7L13.586 9l-7-7H2v4.586z"
          />
        </svg>
        Relacionamento e apoio aos departamentos Comercial, Inteligência de
        Mercado, Marketing, T.I., D.P., R.H., Diretorias e Presidência.
      </p>
    </div>
    <div
      class="d-flex flex-column gap-2 px-5 py-4 bg-body-secondary border border-2 border-info-subtle rounded"
    >
      <h6>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-person-vcard"
          viewBox="0 0 16 16"
        >
          <path
            d="M5 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm4-2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5ZM9 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 9 8Zm1 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5Z"
          />
          <path
            d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2ZM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H8.96c.026-.163.04-.33.04-.5C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1.006 1.006 0 0 1 1 12V4Z"
          />
        </svg>
        Cargo: Supervisor de Centro de Processamento de Dados
      </h6>
      <p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-clock"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"
          />
          <path
            d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"
          />
        </svg>
        Experiência: 4 anos e 4 meses (2012 a 2017).
      </p>
      <p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-tag"
          viewBox="0 0 16 16"
        >
          <path
            d="M6 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-1 0a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0z"
          />
          <path
            d="M2 1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2a1 1 0 0 1 1-1zm0 5.586 7 7L13.586 9l-7-7H2v4.586z"
          />
        </svg>
        Gestão dos procedimentos:
        <br />
        &nbsp;&nbsp; Processos Logísticos: recebimento, conferência, lançamento
        e emissão de notas fiscais de mercadorias, boletos, cte's, validade dos
        produtos, pedidos urgentes e logística reversa.
        <br />
        &nbsp;&nbsp; Processos Contábeis, Fiscais e Prevenção de Perdas:
        controle de estoques, conferência e acerto para faltas, perdas, consumos e
        trocas, transferência entre filiais e logística reversa.
        <br />
        &nbsp;&nbsp; Processos Comerciais: alterações de preços, emissão de etiquetas, pedidos de
        compras, baixas de vendas, alterações de mix e cadastros de clientes.
        <br />
        &nbsp;&nbsp; Processos T.I.: controle, preventiva e verificação de funcionamento de equipamentos de
        informática, automação comercial e segurança eletrônica.
        <br>
        &nbsp;&nbsp; Garantir a entrega, o cumprimento e qualidade de todos os procedimentos em todas as filiais.
      </p>
      <p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-tag"
          viewBox="0 0 16 16"
        >
          <path
            d="M6 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-1 0a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0z"
          />
          <path
            d="M2 1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2a1 1 0 0 1 1-1zm0 5.586 7 7L13.586 9l-7-7H2v4.586z"
          />
        </svg>
        Gestão de pessoas:
        <br />
        &nbsp;&nbsp; Liderança de times e líderes, formação de novas equipes,
        desenvolvimento, treinamentos, contratações, férias, transferências e
        desligamentos.
        <br />
        &nbsp;&nbsp; Promover ambiente de trabalho adequado para melhores
        resultados e empenho de todas as equipes.
      </p>
      <p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-tag"
          viewBox="0 0 16 16"
        >
          <path
            d="M6 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-1 0a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0z"
          />
          <path
            d="M2 1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2a1 1 0 0 1 1-1zm0 5.586 7 7L13.586 9l-7-7H2v4.586z"
          />
        </svg>
        Supervisão de lojas:
        <br />
        &nbsp;&nbsp; Inaugurações e encerramentos de loja, auditórias,
        inventários, implantação de novos sistemas.
      </p>
    </div>
  </div>
  <div class="container container-lg">
    <h4
      class="px-5 py-2 border border-1 border-info-subtle rounded text-bg-info"
    >
      Bccred Financeira
    </h4>
    <div
      class="d-flex flex-column gap-2 px-5 py-4 bg-body-secondary border border-2 border-info-subtle rounded"
    >
      <h6>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-person-vcard"
          viewBox="0 0 16 16"
        >
          <path
            d="M5 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm4-2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5ZM9 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 9 8Zm1 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5Z"
          />
          <path
            d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2ZM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H8.96c.026-.163.04-.33.04-.5C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1.006 1.006 0 0 1 1 12V4Z"
          />
        </svg>
        Cargo: Empresário
      </h6>
      <p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-clock"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"
          />
          <path
            d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"
          />
        </svg>
        Experiência: 3 anos (2017 e 2020).
      </p>
      <p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-tag"
          viewBox="0 0 16 16"
        >
          <path
            d="M6 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-1 0a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0z"
          />
          <path
            d="M2 1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2a1 1 0 0 1 1-1zm0 5.586 7 7L13.586 9l-7-7H2v4.586z"
          />
        </svg>
        A Bccred era uma empresa que oferecia serviços financeiros, como
        financiamentos, refinanciamentos, cartões de crédito e empréstimos.
      </p>
      <p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-tag"
          viewBox="0 0 16 16"
        >
          <path
            d="M6 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-1 0a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0z"
          />
          <path
            d="M2 1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2a1 1 0 0 1 1-1zm0 5.586 7 7L13.586 9l-7-7H2v4.586z"
          />
        </svg>
        Eu atuava como correspondente bancário, trabalhando com os principais
        bancos do país e buscando as melhores soluções financeiras para os meus
        clientes.
      </p>
      <p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-tag"
          viewBox="0 0 16 16"
        >
          <path
            d="M6 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-1 0a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0z"
          />
          <path
            d="M2 1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2a1 1 0 0 1 1-1zm0 5.586 7 7L13.586 9l-7-7H2v4.586z"
          />
        </svg>
        Responsável pela gestão administrativa, comercial, marketing e
        telemarketing da empresa.
      </p>
      <p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-tag"
          viewBox="0 0 16 16"
        >
          <path
            d="M6 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-1 0a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0z"
          />
          <path
            d="M2 1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2a1 1 0 0 1 1-1zm0 5.586 7 7L13.586 9l-7-7H2v4.586z"
          />
        </svg>
        Criava e implementava os processos, capacitava os colaboradores,
        alavancava as vendas, controlava a carteira de clientes, realizava ações
        de publicidade e negociava acordos comerciais com os bancos e promotoras
        do ramo.
      </p>
    </div>
  </div>
</main>
