<!-- Projeto Portfolio -->

<main class="container my-5 d-flex flex-column gap-3">
  <h2
    class="p-3 text-center border border-3 border-info-subtle rounded text-bg-info fw-semibold"
  >
    Experiências
  </h2>
  <div class="container container-lg">
    <h4 class="px-5 py-2 border border-1 border-info-subtle rounded text-bg-info">
      Bccred Financeira
    </h4>
    <div class="d-flex flex-column gap-2 px-5 py-4 bg-body-secondary rounded">
      <h6>Proprietário - 3 anos</h6>
      <p>
        A empresa atuava como correspondente bancária em parceria com muitos
        bancos como Bradesco, Safra e Santander. <br />
        Fundei a empresa em 2017, realizando a criação dos processos e rotinas,
        capacitando os colaboradores e cuidando dos acordos comerciais. <br />
        Atuei como gerente com foco nas áreas comercial, administrativa e
        operacional, sendo responsável pela carteira e captação de clientes
      </p>
    </div>
  </div>
  <div class="container container-lg">
    <h4 class="px-5 py-2 border border-1 border-info-subtle rounded text-bg-info">
      Grupo Bahamas
    </h4>
    <div class="d-flex flex-column gap-2 px-5 py-4 bg-body-secondary rounded">
      <h6>Supervisor E-commerce - 2 Anos</h6>
      <p>
        Coordenação de equipes e operações, projetos, recebimento de pedidos,
        separação de produtos, preparação de cargas, envio dos pedidos, rotas e
        SAC.
      </p>
      <h6>Supervisor C.P.D./Fiscal - 4 Anos</h6>
      <p>
        Coordenação de equipes e dos procedimentos dos operadores de computador
        e chefes de setor, realizava inaugurações e encerramentos de loja,
        auditórias, inventários, implantação e testagem de novos sistemas.
      </p>
      <h6>Auxiliar de escritório D.P. e R.H. - 2 anos</h6>
      <p>
        Elaboração de folha de pagamento, cartão de ponto, benefícios, uniforme,
        contratação, rescisão, treinamentos, segurança do trabalho, CIPA e
        outros.
      </p>
      <h6>Operador de computador C.P.D. - 4 anos</h6>
      <p>
        Atuação em processamento de dados com notas fiscais, pedidos de compras,
        preços, estoques, Help Desks, O.S. e afins.
      </p>
    </div>
  </div>
</main>
