<section class="container d-flex flex-column gap-3" id="experiencias">
  <h2
    class="p-3 text-center border border-2 border-info-subtle rounded text-bg-info fw-semibold"
  >
    Experiências
  </h2>
  <div
    class="accordion container container-lg"
    id="accordionPanelsStayOpenExample"
  >
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button px-5 py-2 border border-1 border-info-subtle text-bg-info fs-4"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseOneE"
          aria-expanded="true"
          aria-controls="panelsStayOpen-collapseOneE"
        >
          Bccred Financeira
        </button>
      </h2>

      <div
        id="panelsStayOpen-collapseOneE"
        class="accordion-collapse collapse show"
      >
        <div class="accordion-body d-flex flex-column gap-2 p-5">
          <h6>Proprietário - 3 anos</h6>
          <p>
            A empresa atuava como correspondente bancária em parceria com muitos
            bancos como Bradesco, Safra e Santander. <br />
            Fundei a empresa em 2017, realizando a criação dos processos e
            rotinas, capacitando os colaboradores e cuidando dos acordos
            comerciais. <br />
            Atuei como gerente com foco nas áreas comercial, administrativa e
            operacional, sendo responsavel pela carteira e captação de clientes
          </p>
        </div>
      </div>
    </div>
  </div>
  <div
    class="accordion container container-lg"
    id="accordionPanelsStayOpenExample"
  >
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button px-5 py-2 border border-1 border-info-subtle text-bg-info fs-4"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseTwoE"
          aria-expanded="true"
          aria-controls="panelsStayOpen-collapseTwoE"
        >
          Grupo Bahamas
        </button>
      </h2>

      <div
        id="panelsStayOpen-collapseTwoE"
        class="accordion-collapse collapse show"
      >
        <div class="accordion-body d-flex flex-column gap-2 p-5">
          <h6>Supervisor E-commerce - 2 Anos</h6>
          <p>
            Coordenação de equipes e operações, projetos, recebimento de
            pedidos, separação de produtos, preparação de cargas, envio dos
            pedidos, rotas e SAC.
          </p>
          <h6>Supervisor C.P.D./Fiscal - 4 Anos</h6>
          <p>
            Coordenação de equipes e dos procedimentos dos operadores de
            computador e chefes de setor, realizava inaugurações e encerramentos
            de loja, auditórias, inventários, implantação e testagem de novos
            sistemas.
          </p>
          <h6>Auxiliar de escritório D.P. e R.H. - 2 anos</h6>
          <p>
            Elaboração de folha de pagamento, cartão de ponto, benefícios,
            uniforme, contratação, rescisão, treinamentos, segurança do trabalho, CIPA e outros.
          </p>
          <h6>Operador de computador C.P.D. - 4 anos</h6>
          <p>
            Atuação em processamento de dados com notas fiscais, pedidos de
            compras, preços, estoques, Help Desks, O.S. e afins.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

