<section class="container d-flex flex-column gap-3" id="projetos">
  <h2
    class="p-3 text-center border border-2 border-info-subtle rounded text-bg-info fw-semibold"
  >
    Projetos
  </h2>
  <div
    class="accordion container container-lg"
    id="accordionPanelsStayOpenExample"
  >
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button px-5 py-2 border border-1 border-info-subtle text-bg-info fs-4"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseOneP"
          aria-expanded="true"
          aria-controls="panelsStayOpen-collapseOneP"
        >
          BBFLIX
        </button>
      </h2>

      <div
        id="panelsStayOpen-collapseOneP"
        class="accordion-collapse collapse show"
      >
        <div
          class="accordion-body d-flex flex-column gap-2 px-5 py-4 bg-body-secondary"
        >
          <div
            id="carouselExampleIndicators"
            class="carousel slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-indicators">
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="1"
                aria-label="Slide 2"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="2"
                aria-label="Slide 3"
              ></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img
                  src="../../assets/bbflix1.jpg"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../assets/bbflix2.jpg"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../assets/bbflix3.jpg"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
            </div>
          </div>
          <div class="gap-5">
            <h5 class="text-center">Biblioteca de vídeos e séries</h5>
            <p>
              Tecnologias utilizadas: HTML, CSS, Bootstrap, JS, TS, Angular,
              RXJS, HTTP, Routes, consumo da API The Movie Database.
            </p>

            <p>Estado: em desenvolvimento</p>
            <p>Ultima atualização em 23/05/23.</p>
          </div>
          <div class="d-flex justify-content-evenly">
            <a href="https://bbflix.vercel.app" class="stretched-link">
              <img src="../../assets/vercel.svg" alt="Icone Vercel" />
              Ver pagina no Vercel
            </a>
            <a
              href="https://github.com/Bernardo-Bonifacio/bbflix"
              class="stretched-link"
              ><img src="../../assets/github.svg" alt="Icone GitHub" />
              Ver código no GitHub
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="accordion container container-lg"
    id="accordionPanelsStayOpenExample"
  >
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button px-5 py-2 border border-1 border-info-subtle text-bg-info fs-4"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseTwoP"
          aria-expanded="true"
          aria-controls="panelsStayOpen-collapseTwoP"
        >
          Em Desenvolvimento
        </button>
      </h2>

      <div
        id="panelsStayOpen-collapseTwoP"
        class="accordion-collapse collapse"
      >
        <div
          class="accordion-body d-flex flex-column gap-2 px-5 py-4 bg-body-secondary"
        >
          <div
            id="carouselExampleIndicators"
            class="carousel slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-indicators">
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="1"
                aria-label="Slide 2"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="2"
                aria-label="Slide 3"
              ></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="" class="d-block w-100" alt="Em Desenvolvimento" />
              </div>
              <div class="carousel-item">
                <img src="" class="d-block w-100" alt="Em Desenvolvimento" />
              </div>
              <div class="carousel-item">
                <img src="" class="d-block w-100" alt="Em Desenvolvimento" />
              </div>
            </div>
          </div>
          <div class="gap-5">
            <h5 class="text-center"></h5>
            <p>Tecnologias utilizadas:</p>

            <p>Estado: em desenvolvimento</p>
            <p>Ultima atualização em</p>
          </div>
          <div class="d-flex justify-content-evenly">
            <a href="" class="stretched-link">
              <img src="../../assets/vercel.svg" alt="Icone Vercel" />
              Ver pagina no Vercel
            </a>
            <a href="" class="stretched-link"
              ><img src="../../assets/github.svg" alt="Icone GitHub" />
              Ver código no GitHub
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="accordion container container-lg"
    id="accordionPanelsStayOpenExample"
  >
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button px-5 py-2 border border-1 border-info-subtle text-bg-info fs-4"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseTwoP"
          aria-expanded="true"
          aria-controls="panelsStayOpen-collapseTwoP"
        >
          Em Desenvolvimento
        </button>
      </h2>

      <div
        id="panelsStayOpen-collapseTwoP"
        class="accordion-collapse collapse"
      >
        <div
          class="accordion-body d-flex flex-column gap-2 px-5 py-4 bg-body-secondary"
        >
          <div
            id="carouselExampleIndicators"
            class="carousel slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-indicators">
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="1"
                aria-label="Slide 2"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="2"
                aria-label="Slide 3"
              ></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="" class="d-block w-100" alt="Em Desenvolvimento" />
              </div>
              <div class="carousel-item">
                <img src="" class="d-block w-100" alt="Em Desenvolvimento" />
              </div>
              <div class="carousel-item">
                <img src="" class="d-block w-100" alt="Em Desenvolvimento" />
              </div>
            </div>
          </div>
          <div class="gap-5">
            <h5 class="text-center"></h5>
            <p>Tecnologias utilizadas:</p>

            <p>Estado: em desenvolvimento</p>
            <p>Ultima atualização em</p>
          </div>
          <div class="d-flex justify-content-evenly">
            <a href="" class="stretched-link">
              <img src="../../assets/vercel.svg" alt="Icone Vercel" />
              Ver pagina no Vercel
            </a>
            <a href="" class="stretched-link"
              ><img src="../../assets/github.svg" alt="Icone GitHub" />
              Ver código no GitHub
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="accordion container container-lg"
    id="accordionPanelsStayOpenExample"
  >
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button px-5 py-2 border border-1 border-info-subtle text-bg-info fs-4"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseTwoP"
          aria-expanded="true"
          aria-controls="panelsStayOpen-collapseTwoP"
        >
          Em Desenvolvimento
        </button>
      </h2>

      <div
        id="panelsStayOpen-collapseTwoP"
        class="accordion-collapse collapse"
      >
        <div
          class="accordion-body d-flex flex-column gap-2 px-5 py-4 bg-body-secondary"
        >
          <div
            id="carouselExampleIndicators"
            class="carousel slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-indicators">
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="1"
                aria-label="Slide 2"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="2"
                aria-label="Slide 3"
              ></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="" class="d-block w-100" alt="Em Desenvolvimento" />
              </div>
              <div class="carousel-item">
                <img src="" class="d-block w-100" alt="Em Desenvolvimento" />
              </div>
              <div class="carousel-item">
                <img src="" class="d-block w-100" alt="Em Desenvolvimento" />
              </div>
            </div>
          </div>
          <div class="gap-5">
            <h5 class="text-center"></h5>
            <p>Tecnologias utilizadas:</p>

            <p>Estado: em desenvolvimento</p>
            <p>Ultima atualização em</p>
          </div>
          <div class="d-flex justify-content-evenly">
            <a href="" class="stretched-link">
              <img src="../../assets/vercel.svg" alt="Icone Vercel" />
              Ver pagina no Vercel
            </a>
            <a href="" class="stretched-link"
              ><img src="../../assets/github.svg" alt="Icone GitHub" />
              Ver código no GitHub
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
