<section class="container d-flex flex-column gap-3" id="projetos">
  <h2
    class="p-3 text-center border border-2 border-info-subtle rounded text-bg-info fw-semibold"
  >
    Projetos
  </h2>

  <div class="container container-lg d-flex flex-column gap-2">
    <h6
      class="px-5 py-2 border border-1 border-info-subtle rounded text-bg-info fs-4"
    >
      HTML & CSS
    </h6>
    <div class="row g-0 bg-body-secondary position-relative rounded">
      <div class="col-md-6 mb-md-0 p-md-4">
        <img src="../imagens/netflix.png" class="w-100" alt="..." />
      </div>
      <div class="col-md-6 p-4 ps-md-0">
        <h5 class="mt-0">Clone Netflix</h5>
        <p>Tecnologias utilizadas: HTML, CSS, Bootstrap</p>
        <p>Ultima atualização em 23/04/23</p>
        <a href="#" class="stretched-link">Ver pagina no GitHub Pages</a>
        <br />
        <a href="#" class="stretched-link">Ver código no GitHub</a>
      </div>
    </div>

    <div class="row g-0 bg-body-secondary position-relative rounded">
      <div class="col-md-6 mb-md-0 p-md-4">
        <img src="../imagens/netflix.png" class="w-100" alt="..." />
      </div>
      <div class="col-md-6 p-4 ps-md-0">
        <h5 class="mt-0">Clone Netflix</h5>
        <p>Tecnologias utilizadas: HTML, CSS, Bootstrap</p>
        <p>Ultima atualização em 23/04/23</p>
        <a href="#" class="stretched-link">Ver pagina no GitHub Pages</a>
        <br />
        <a href="#" class="stretched-link">Ver código no GitHub</a>
      </div>
    </div>
  </div>

  <div class="container container-lg d-flex flex-column gap-2">
    <h6
      class="px-5 py-2 border border-1 border-info-subtle rounded text-bg-info fs-4"
    >
      JavaScript
    </h6>
    <div class="row g-0 bg-body-secondary position-relative rounded">
      <div class="col-md-6 mb-md-0 p-md-4">
        <img src="../imagens/linkedin.png" class="w-100" alt="..." />
      </div>
      <div class="col-md-6 p-4 ps-md-0">
        <h5 class="mt-0">Clone Linkedin</h5>
        <p>Tecnologias utilizadas: HTML, CSS, Bootstrap, JavaScript</p>
        <p>Ultima atualização em 23/04/23</p>
        <a href="#" class="stretched-link">Ver pagina no GitHub Pages</a>
        <br />
        <a href="#" class="stretched-link">Ver código no GitHub</a>
      </div>
    </div>

    <div class="row g-0 bg-body-secondary position-relative rounded">
      <div class="col-md-6 mb-md-0 p-md-4">
        <img src="../imagens/linkedin.png" class="w-100" alt="..." />
      </div>
      <div class="col-md-6 p-4 ps-md-0">
        <h5 class="mt-0">Clone Linkedin</h5>
        <p>Tecnologias utilizadas: HTML, CSS, Bootstrap, JavaScript</p>
        <p>Ultima atualização em 23/04/23</p>
        <a href="#" class="stretched-link">Ver pagina no GitHub Pages</a>
        <br />
        <a href="#" class="stretched-link">Ver código no GitHub</a>
      </div>
    </div>
  </div>

  <div class="container container-lg d-flex flex-column gap-2">
    <h6
      class="px-5 py-2 border border-1 border-info-subtle rounded text-bg-info fs-4"
    >
      Angular
    </h6>
    <div class="row g-0 bg-body-secondary position-relative rounded">
      <div class="col-md-6 mb-md-0 p-md-4">
        <img src="../imagens/mercadolivre.png" class="w-100" alt="..." />
      </div>
      <div class="col-md-6 p-4 ps-md-0">
        <h5 class="mt-0">Clone Mercado Livre</h5>
        <p>
          Tecnologias utilizadas: HTML, CSS, Bootstrap, JavaScript, TypeScript,
          Angular
        </p>
        <p>Ultima atualização em 23/04/23</p>
        <a href="#" class="stretched-link">Ver pagina no GitHub Pages</a>
        <br />
        <a href="#" class="stretched-link">Ver código no GitHub</a>
      </div>
    </div>

    <div class="row g-0 bg-body-secondary position-relative rounded">
      <div class="col-md-6 mb-md-0 p-md-4">
        <img src="../imagens/mercadolivre.png" class="w-100" alt="..." />
      </div>
      <div class="col-md-6 p-4 ps-md-0">
        <h5 class="mt-0">Clone Mercado Livre</h5>
        <p>
          Tecnologias utilizadas: HTML, CSS, Bootstrap, JavaScript, TypeScript,
          Angular
        </p>
        <p>Ultima atualização em 23/04/23</p>
        <a href="#" class="stretched-link">Ver pagina no GitHub Pages</a>
        <br />
        <a href="#" class="stretched-link">Ver código no GitHub</a>
      </div>
    </div>
  </div>
</section>

