<!-- Projeto Portfolio -->

<main class="container my-5 d-flex flex-column gap-3">
  <h2
    class="p-3 text-center border border-3 border-info-subtle rounded text-bg-info fw-semibold"
  >
    Projetos
  </h2>
  <div class="container container-lg d-flex flex-column gap-2">
    <h4
      class="px-5 py-2 border border-1 border-info-subtle rounded text-bg-info"
    >
      BBFLIX
    </h4>
    <div
      id="carouselExampleIndicators1"
      class="carousel slide border border-3 border-primary-subtle rounded"
      data-bs-ride="carousel"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators1"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators1"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators1"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner rounded carousel-projetos">
        <div class="carousel-item active">
          <img
            src="../../assets/bbflix1.jpg"
            class="w-100 h-100"
            alt="Filmes do BBFLIX"
          />
        </div>
        <div class="carousel-item rounded">
          <img
            src="../../assets/bbflix2.jpg"
            class="w-100 h-100"
            alt="Seções do BBFLIX"
          />
        </div>
        <div class="carousel-item rounded">
          <img
            src="../../assets/bbflix3.jpg"
            class="w-100 h-100"
            alt="Pesquisas do BBFLIX"
          />
        </div>
      </div>
    </div>
    <div
      class="d-flex flex-column gap-2 px-5 py-4 bg-body-secondary border border-3 border-primary-subtle rounded"
    >
      <div>
        <h5 class="text-center">Biblioteca de vídeos e séries</h5>
        <p>
          Tecnologias utilizadas: HTML, CSS, Bootstrap, JS, TS, Angular, RXJS,
          HTTP, Routes, consumo da API The Movie Database.
        </p>

        <p>Estado: em desenvolvimento</p>
        <p>Ultima atualização em 10/06/23</p>
      </div>
      <div class="d-flex justify-content-evenly">
        <a href="https://bbflix.bernardobonifacio.com">
          <img src="../../assets/link.svg" alt="Ícone Link" />
          Acesse a página do projeto
        </a>
        <a href="https://github.com/Bernardo-Bonifacio/bbflix"
          ><img src="../../assets/github.svg" alt="Ícone GitHub" />
          Visualize o código no GitHub
        </a>
      </div>
    </div>
  </div>
  <div class="container container-lg d-flex flex-column gap-2">
    <h4
      class="px-5 py-2 border border-1 border-info-subtle rounded text-bg-info"
    >
      BB Books
    </h4>
    <div
      id="carouselExampleIndicators2"
      class="carousel slide border border-3 border-primary-subtle rounded"
      data-bs-ride="carousel"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators2"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators2"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators2"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner rounded carousel-projetos">
        <div class="carousel-item active">
          <img
            src="../../assets/bbbooks1.jpg"
            class="w-100 h-100"
            alt="Página em Construção"
          />
        </div>
        <div class="carousel-item rounded">
          <img
            src="../../assets/bbbooks2.jpg"
            class="w-100 h-100"
            alt="Página em Construção"
          />
        </div>
        <div class="carousel-item rounded">
          <img
            src="../../assets/bbbooks3.jpg"
            class="w-100 h-100"
            alt="Página em Construção"
          />
        </div>
      </div>
    </div>
    <div
      class="d-flex flex-column gap-2 px-5 py-4 bg-body-secondary border border-3 border-primary-subtle rounded"
    >
      <div>
        <h5 class="text-center">Loja de livros</h5>
        <p>
          Tecnologias utilizadas: HTML, CSS, Bootstrap, JS, TS, Angular, RXJS,
          HTTP, Routes, consumo da Google Books API.
        </p>
        <p>Estado: em desenvolvimento</p>
        <p>Ultima atualização em 10/06/23</p>
      </div>
      <div class="d-flex justify-content-evenly">
        <a href="https://bbbooks.bernardobonifacio.com">
          <img src="../../assets/link.svg" alt="Ícone Link" />
          Acesse a página do projeto
        </a>
        <a href="https://github.com/Bernardo-Bonifacio/bbbooks"
          ><img src="../../assets/github.svg" alt="Ícone GitHub" />
          Visualize o código no GitHub
        </a>
      </div>
    </div>
  </div>
  <div class="container container-lg d-flex flex-column gap-2">
    <h4
      class="px-5 py-2 border border-1 border-info-subtle rounded text-bg-info"
    >
      BB Commerce
    </h4>
    <div
      id="carouselExampleIndicators2"
      class="carousel slide border border-3 border-primary-subtle rounded"
      data-bs-ride="carousel"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators2"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators2"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators2"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner rounded carousel-projetos">
        <div class="carousel-item active">
          <img
            src="../../assets/pagina-em-construcao.png"
            class="w-100 h-100"
            alt="Página em Construção"
          />
        </div>
        <div class="carousel-item rounded">
          <img
            src="../../assets/pagina-em-construcao.png"
            class="w-100 h-100"
            alt="Página em Construção"
          />
        </div>
        <div class="carousel-item rounded">
          <img
            src="../../assets/pagina-em-construcao.png"
            class="w-100 h-100"
            alt="Página em Construção"
          />
        </div>
      </div>
    </div>
    <div
      class="d-flex flex-column gap-2 px-5 py-4 bg-body-secondary border border-3 border-primary-subtle rounded"
    >
      <div>
        <h5 class="text-center">Ferramenta para vendas online</h5>
        <p>Tecnologias utilizadas: --</p>
        <p>Estado: em desenvolvimento</p>
        <p>Ultima atualização em --/--/--</p>
      </div>
      <div class="d-flex justify-content-evenly">
        <a>
          <img src="../../assets/link.svg" alt="Ícone Link" />
          Acesse a página do projeto
        </a>
        <a
          ><img src="../../assets/github.svg" alt="Ícone GitHub" />
          Visualize o código no GitHub
        </a>
      </div>
    </div>
  </div>
</main>
