<!-- Projeto Portfolio -->

<main
  class="container p-4 my-5 d-flex flex-column align-items-center bg-body-secondary border border-5 border-info-subtle rounded-5 container-lg"
>
  <div class="container d-flex flex-column gap-3">
    <p class="fs-3">Seja bem-vindo(a) ao meu site portfólio!</p>
    <p class="fs-5">
      Aqui você irá encontrar alguns dos meus trabalhos, projetos e experiências
      profissionais.
      <br>
      Sou especialista e tenho vasta experiência em e-commerce, operações logísticas
      e gestão de pessoas.
      <br>
      Também sou desenvolvedor web front-end, apaixonado por tecnologia, criatividade e
      inovação.
    </p>
  </div>
  <div class="container d-flex gap-5">
    <div class="align-self-center d-flex flex-column gap-2">
      <h1>Bernardo Bonifácio</h1>
      <h4>Desenvolvedor Front-End</h4>
      <h5>HTML | CSS | JS | TS | ANGULAR</h5>
    </div>
    <div>
      <img
        class="img-fluid w-75 rounded-circle border border-5 border-info-subtle rounded-5"
        src="../../assets/bernardo.jpg"
        alt="Foto do Bernardo"
      />
    </div>
  </div>
</main>
