<!-- Projeto Portfolio -->

<main
  class="container p-4 my-5 d-flex flex-column align-items-center bg-body-secondary border border-5 border-info-subtle rounded-5 container-lg"
>
  <div class="container d-flex flex-column gap-3">
    <p class="fs-3">Olá, bem-vindo(a) ao meu site portfólio!</p>
    <p class="fs-5">
      Aqui você vai encontrar alguns dos meus trabalhos, projetos e experiências
      profissionais. Sou uma pessoa apaixonada por tecnologia, criatividade e
      inovação. Espero que você goste do que vai ver e que possamos colaborar em
      projetos futuros.
    </p>
  </div>
  <div class="container d-flex gap-5">
    <div class="align-self-center d-flex flex-column gap-2">
      <h1>Bernardo Bonifácio</h1>
      <h4>Desenvolvedor Front-End</h4>
      <h5>HTML | CSS | JS | TS | ANGULAR</h5>
      <p>Estudante de Front-End a 12 meses na escola online Alura</p>
    </div>
    <div>
      <img
        class="img-fluid w-75 rounded-circle border border-5 border-info-subtle rounded-5"
        src="../../assets/bernardo.jpg"
        alt="Foto do Bernardo"
      />
    </div>
  </div>
</main>
