<section
  class="container d-flex flex-column align-items-center p-4 bg-white border border-info-subtle border-2 rounded-4 container-lg"
>
  <div class="container d-flex flex-column gap-3">
    <h3>Olá e bem-vindo(a) ao meu site portfolio!</h3>
    <h5>
      Aqui você vai encontrar alguns dos meus trabalhos, projetos e experiências
      profissionais. Sou uma pessoa apaixonada por tecnologia, criatividade e
      inovação. Espero que você goste do que vai ver e que possamos colaborar em
      projetos futuros.
    </h5>
  </div>
  <div class="container d-flex gap-5">
    <div class="align-self-center d-flex flex-column gap-2">
      <h1>Bernardo Bonifácio</h1>
      <h4>Desenvolvedor Front-End</h4>
      <p>HTML | CSS | JS | TS | ANGULAR</p>
      <p>Estudante de Front-End a 10 meses na escola online Alura</p>
    </div>
    <div>
      <img
        class="img-fluid w-75 rounded-circle border border-info-subtle border-5 rounded-5"
        src="../../assets/bernardo.jpg"
        alt="Foto do Bernardo"
      />
    </div>
  </div>
</section>

